{% extends 'base.html' %}

{% block content %}
    
    <br>
    <table>
        <tr>
            <th>Nazwisko</th>
            <th>Imię</th>
        </tr>
        <tr>
            {% for worker in object_list %}
                <td>{{ worker.surname }}</td>
                <td>{{ worker.name }}</td>
                <td><a href="{% url 'detail-worker' worker.pk %}">Szczegóły</a></td>
                </tr>
            {% empty %}
                Baza jest pusta.
            {% endfor %}
    </table>
    <br>
    <a href="{% url 'create-worker' %}"
        >Dodaj pracownika</a>


{% endblock %}