{% extends 'base.html' %}

{% block content %}
<div>
    <h2>Szczegóły projektu #{{ object.name }}</h2><br>
</div>
<a href="{% url 'update-project' object.pk %}">Update</a>
<a href="{% url 'delete-project' object.pk %}">Delete</a>
<div>
    <p><b>Nazwa:</b> {{ object.name }}</p>
    <p><b>Klient:</b> <a href="{% url 'detail-client' object.pk %}">{{ object.client}}</a></p>
    <p><b>Opis:</b> {{ object.description }}</p>
    <p><b>Data utworzenia:</b> {{ object.date_create }}</p>
    <p>Pracownicy </p>
    {% for obj in workers %}
        <p> {{ obj.name }}, {{ obj.surname }}</p>
    {% endfor %}

</div>


{% endblock %}
