{% extends 'base.html' %}

{% block content %}

    <h1>Baza kontrahentów</h1>
    <br>
    <table style="border-style: dashed">
        <tr>
            <th>Nazwa firmy</th>
            <th>Adres</th>
            <th>Osoba do kontaktu</th>
            <th>Telefon</th>
            <th>E-mail</th>
        </tr>
        {% for client in object_list %}
            <tr>
                <td><a href="{% url 'detail-client' client.pk %}">{{ client.name }}</a></td>
                <td>{{ client.address }}</td>
                <td>{{ client.contact_person }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.email }}</td>
            </tr>
        {% empty %}
            Baza kontrahentów jest pusta.
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'create-client' %}"
    >Dodaj kontrahenta</a>


{% endblock %}