{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <form style="text-align center; width: 600px;" method="get" action="">
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div style="margin: auto;">
            <button class="btn btn-outline-info" type="submit">Search</button>
        </div>
    </form>

<br>
    <table border="1">
        <caption>Products</caption>
        <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Unit</th>
            <th>Amount</th>
            <th>Steel type</th>
        </tr>
        </thead>
        <tbody>

        {% for obj in object_list %}
        <tr>
            <td>{{ page_obj.start_index|add:forloop.counter0 }}.</td>
            <td>{{ obj.name|default:"-" }}</td>
            <td>{{ obj.unit|default:"-" }}
            <td>{{ obj.amount|floatformat:3 }}
            <td>{{obj.steel_type}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">no items</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}