{% extends 'base.html' %}

{% block content %}

    <br>
    <div>

        <table>
            <tr>
                <th>Nazwa projektu</th>
                <th>Klient</th>
                <th>Data utworzenia</th>
                <th>Zakończony</th>
            </tr>
            {% for project in object_list %}
                <tr>
                    <td><a href="{% url 'detail-project' project.pk %}">{{ project.name }}</a></td>
                    <td>{{ project.client.name }}</td>
                    <td>{{ project.date_create | date }}</td>
                    <td>{% if project.finished == False %} NIE
                    {% else %} TAK
                    {% endif %}</td>
                </tr>
            {% empty %}
                Nie ma jeszcze żadnych projektów.
            {% endfor %}
        </table>
        <br>

        <a href="{% url 'create-project' %}"
        >Utwórz nowy projekt</a>
    </div>


{% endblock %}