{% extends 'base.html' %}

{% block content %}
    <div>
        <a href="{% url 'update-product' object.id %}">Popraw</a>
        <a href="{% url 'delete-product' object.pk %}">Usuń</a>
    </div>

    <div>
        <p><b>Nazwa:</b> {{ object.name }}</p>
        <p><b>Jednostka:</b> {{ object.unit }}</p>
        <p><b>Gatunek stali:</b> {{ object.steel_type }}</p>
        <p><b>Opis / uwagi:</b> {{ object.description }}</p>

    </div>
<br>
        <a href="{% url 'products-list' %}">Wróć</a>

{% endblock %}
